<!DOCTYPE html>
<html lang=“ja”>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-language" content="ja">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <!-- OGP設定 --><!-- 使わないものは消す -->
    <meta property="og:url" content="https://このサイトのアドレス">
    <meta property="og:type" content="website">
    <meta property="og:title" content="サイト名などのブランド情報を含まないtitleを20文字以内">
    <meta property="og:description" content="ページのディスクリプション 80~90文字">
    <meta property="og:site_name" content="サイト名やブランド情報">
    <meta property="og:locale" content="ja_JP">
    <!-- <meta property="og:image" content="サムネの絶対パス サイズは1200×630が望ましい"> -->

    <!-- facebook --><!--
    <meta property="fb:app_id" content="【数字】">
    <meta property="fb:admins" content="【数字】">
    <meta property="article:publisher" content="製作者のアカウントのurl">
    -->

    <!-- Twitter --><!--
    <meta name="twitter:image" value="【画像】">
    <meta name="twitter:card" value="【色々あるけどとりあえずsummary_large_image】">
    <meta name="twitter:site" value="【ツイッターアカウント @から】">
    <meta name="twitter:creator" value="【ツイッターアカウント @から】">
    <meta name="twitter:title" value="【記事名/サイト名】">
    <meta name="twitter:description" value="【説明】">
    -->
    <!-- /OGP設定 -->

    <!-- SEO設定 -->
    <title>lp template</title>
    <meta name=”description” content="サイトの説明">
    <meta name=”keywords” content="キーワード, キーワード">
    <link rel="shortcut icon" href="">
    <!-- <link rel=”canonical” href=”https://このサイトのアドレス”> -->
    <!-- /SEO設定 -->

    <!-- 外部ライブラリ -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- smooth-scroll -->
    <script src="https://cdn.jsdelivr.net/npm/smooth-scroll@16/dist/smooth-scroll.min.js"></script>

    <!-- slick-carousel -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" integrity="sha256-3h45mwconzsKjTUULjY+EoEkoRhXcOIU4l5YAw2tSOU=" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" integrity="sha256-etrwgFLGpqD4oNAFW08ZH9Bzif5ByXK2lXNHKy7LQGo=" crossorigin="anonymous"> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" integrity="sha256-DHF4zGyjT7GOMPBwpeehwoey18z8uiz98G4PRu2lV0A=" crossorigin="anonymous"></script> -->

    <!-- bootstrap -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
    
    <!-- /外部ライブラリ -->

    <link href="css/reset.css" rel="stylesheet" media="all">
    <link href="css/base.css" rel="stylesheet" media="all">
</head>
<body>





    <header>
        <h1>テストテスト</h1>
    </header>






    <main>
    </main>






    <footer>
    </footer>






</body>
    <script src="js/base.js"></script>
</html>
