@charset "UTF-8";
body {
  font-family: "Helvetica Neue", Helvetica, Arial, 游ゴシック, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif; }

header h1 {
  font-size: 15px;
  line-height: 25px;
  font-weight: 300; }
  @media screen and (min-width: 481px) {
    header h1 {
      font-size: 18px;
      line-height: 30px; } }
  @media screen and (min-width: 769px) {
    header h1 {
      font-size: 20px;
      line-height: 35px; } }
  header h1:hover {
    transition: 0.5s;
    color: white; }

img {
  max-width: 100%;
  height: auto; }
