// imgパス
$img: "../../img/";





// ブレークポイント
$break-point: 900 780 700 580 500;

@mixin media($index: 1){
    @media screen and (min-width: (nth($break-point, $index)+'px')) {
        @content;
    }
}
@mixin rmedia($index: 1){
    @media screen and (max-width: (nth($break-point, $index)+'px')) {
        @content;
    }
}




@mixin hide($index: 1){
    @include media($index){
        display: none;
    }
}
@mixin rhide($index: 1){
    @include rmedia($index){
        display: none;
    }
}





// 色が色々
$c: white black #656c6e #F6F6F6 #13191b #4971A9 #70BCD3 #2F9BCD #8EC09D #939899;

@function c($index){
    @return nth($c, $index);
}





// タイポグラフィ
@mixin header1($index: 5){
    transition: .3s;
    color: c($index);
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    @include media(5){
        font-size: 44px;
        line-height: 75px;
    }
}
@mixin header2($index: 5){
    transition: .3s;
    color: c($index);
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
}
@mixin header3($index: 5){
    transition: .3s;
    color: c($index);
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    @include media(5){
        font-size: 20px;
        line-height: 34px;
    }
}
@mixin header4($index: 5){
    transition: .3s;
    color: c($index);
    font-weight: 700;
    font-size: 18px;
    line-height: 31px;
}



@mixin text1($index: 5){
    transition: .3s;
    color: c($index);
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    @include media(5){
        font-size: 20px;
        line-height: 34px;
    }
}
@mixin text2($index: 3){
    transition: .3s;
    color: c($index);
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
}



@mixin nav1($index: 1){
    font-family: "Gill Sans Std Book", sans-serif;
    transition: .3s;
    color: c($index);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
@mixin nav2($index: 5){
    transition: .3s;
    color: c($index);
    font-size: 14px;
    line-height: 48px;
    font-weight: 400px;
    text-decoration: none;
    border: 1px c($index) solid;
    text-align: center;
    width: 150px;
    height: 50px;
    display: block;
    &:hover{
        background-color: c($index);
        color: white;
    }
}
@mixin nav3($index: 5){
    transition: .3s;
    color: c($index);
    font-size: 13px;
    line-height: 48px;
    font-weight: 400px;
    text-decoration: none;
    border: 1px c($index) solid;
    text-align: center;
    height: 48px;
    display: block;
    @include media(5){
        font-size: 14px;
    }
    &:hover{
        background-color: c($index);
        color: white;
    }
}



@mixin small1($index: 3){
    transition: .3s;
    color: c($index);
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}
@mixin small2($index: 1){
    transition: .3s;
    color: c($index);
    font-weight: 400;
    font-size: 10px;
    line-height: 17px;
}






// お内側
@mixin flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin header-nav-inner{
    width: 100%;
    padding: 12px 40px;
    box-sizing: border-box;
    @include media(5){
        padding: 10px 40px;
    }
}

@mixin main-inner1{
    padding: 50px 10px;
    @include media(3){
        padding: 50px 0;
        width: 370px;
        margin: 0 auto;
    }
}
@mixin main-inner2{
    padding: 50px 30px;
    @include media(3){
        padding: 70px 40px;
        max-width: 850px;
        margin: 0 auto;
    }
}
@mixin main-inner3{
    padding: 40px 40px;
    max-width: 700px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    @include media(5){
        padding: 40px 70px;
    }
}

@mixin footer-inner1{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
@mixin footer-inner2{
    box-sizing: border-box;
    width: 100%;
    padding: 50px;
    max-width: 920px;
    margin: 0 auto;
}





// お外側
@mixin header-nav-outer{
    width: 100%;
    padding: 70px;
    box-sizing: border-box;
}
