body>header>div{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        img{
            width: 90px;
            height: auto;
        }
        p{
            font-size: 10px;
        }
        display: flex;
        flex-direction: column-reverse;
        padding: 10px;
        @include media(2){
            flex-direction: row;
            align-items: flex-end;
            img{
                width: 100px;
                @include media{
                    width: 120px;
                }
            }
        }
        @include media(1){
            p{
                margin-left: 5px;
                font-size: 12px;
            }
        }
    }
    .contact-button{
        display: none;
        @include media(1){
            font-size: 15px;
        }
    }
    .header-siryouseikyu{
        padding: 10px;
        background-color: $c2;
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        img{
            height: 30px;
            width: auto;
        }
        p{
            font-size: 13px;
            font-weight: 100;
        }
        &:hover{
            background-color: $c5;
        }
    }
    
    
    @include media(2){
        
        padding: 0 20px;
        
        .contact-button{
            display: block;
        }
        .header-siryouseikyu{
            display: none;
        }
    }
    
    max-width: 1200px;
    margin: 0 auto;
}
body>header{
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 999;
}




.contact-button{
    background-color: $c2;
    color: white;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 100px;
    display: inline;
    font-size: 12px;
    font-weight: 100;
    &:hover{
        background-color: $c5;
    }
}